body {
    margin : 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

h1 {
    color: teal;
}

p {
    color: green;
}

.stars {
    color: green
}

footer {
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(151, 187, 98);
}


img {
    height: 200px;
}

nav {
    border-bottom: 1px;
    border-color: black;
    padding: 16px;
    border-style: solid;
    background-color: orange;
}
